@charset "UTF-8";
/* #757575 основной цвет текста обзацев  */
/* #212121 основной зоголовков */
/* #2196F3 цвет выделения */
/* #F5F5F5; основной цвет фона  */
/* #F5F4FA вторичный цвет фона */
/* #FFFFFF цвет фона хэдера */
/* #2F303A колір футера */
/* #F5F4FA колір bg кпопок */
/*  */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --select-text-color: #2196f3;
  --addr-color-tel-mail: rgba(255, 255, 255, 0.6);
  --addr-color-city: #ffffff;
  --footer-bg-color: #2f303a;
  --second-color-logo-footer: #ffffff;
  --button-bg-color: #f5f4fa;
  --button-text-color: #212121;
  --button-select-color: #2196f3;
  --button-select-text-color: #ffffff;
  --bg-team-section-color: #f5f4fa;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.page {
  color: var(--primary-text-color);
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page.portfolio {
  background-color: #ffffff;
}

.logo {
  display: block;
  margin-right: 93px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway, sans-serif;
}

.logo-first {
  color: var(--select-text-color);
}

.page-header {
  color: var(--title-text-color);
  background-color: var(--button-select-text-color);
  border: transparent;
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--button-select-color);
  border-radius: 2px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--select-text-color);
}

.site-nav .link.current {
  color: var(--select-text-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item {
  display: flex;
}

.link-contact {
  display: flex;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-contact {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--select-text-color);
  fill: var(--select-text-color);
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--select-text-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.hero {
  color: black;
  text-align: center;
}

.section-hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-position: 50% 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  display: block;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-select-text-color);
}

.hero .button-hero {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--button-select-text-color);
  background-color: var(--button-select-color);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-select-text-color);
}

.section h1,
.section h2,
.section h3 {
  color: var(--title-text-color);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.top-padd-minus {
  padding-top: 0;
}

.feauture-list {
  display: flex;
  flex-wrap: wrap;
}

.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-top: auto;
  margin-bottom: auto;
}

.feauture-list .item {
  width: 270px;
}

.feauture-list .item:not(:last-child) {
  margin-right: 30px;
}

.feauture-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feauture-list .text {
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
}

.our-work .item:not(:last-child) {
  margin-right: 30px;
}

.our-work .item {
  position: relative;
}

.our-work .shadow-box {
  position: absolute;
  display: block;
  bottom: 0;
  padding-top: 25px;
  width: 370px;
  height: 70px;
  justify-content: center;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
}

.our-work .our-work-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section.team {
  background-color: var(--bg-team-section-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list > .item {
  background-color: var(--button-select-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .com-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list .com-text {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.team .social-list {
  margin-left: 32px;
}

.svg-social {
  width: 20px;
  height: 20px;
}

.team .social-list {
  display: flex;
  margin-left: 32px;
}

.social-link .title-social {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--addr-color-city);
}

.social-link {
  display: block;
  min-width: 206px;
}

.social-list {
  display: flex;
}

.social-list .item {
  display: flex;
}

.social-list .item:not(:last-child) {
  margin-right: 10px;
}

.social-list .item-link-team {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .item-link-team:hover,
.social-list .item-link-team:focus {
  background: var(--select-text-color);
  fill: var(--button-select-text-color);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
}

.client-list .item:not(:last-child) {
  margin-right: 30px;
}

.client-list .item {
  display: flex;
}

.item .client {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .client:hover,
.item .client:focus {
  border: 1px solid var(--select-text-color);
  fill: var(--select-text-color);
}

.svg-client {
  display: inline-block;
  width: 106px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shad 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--button-select-text-color);
  background-color: var(--button-select-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* Картки портфоліо */
.card {
  color: var(--primary-text-color);
}

.shadow-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-list .item {
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover .shadow-text,
.portfolio-list .item:focus .shadow-text {
  transform: translateY(0%);
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card .card-header {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.card .card-text {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list .project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.list-buttom {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-buttom .item:not(:last-child) {
  margin-right: 8px;
}

.list-buttom.item {
  display: block;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.svg-close {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .svg-close,
.button-close:focus .svg-close {
  fill: var(--button-select-color);
  cursor: pointer;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label:last-child {
  margin-bottom: 0;
}

.modal-input,
.modal-textarea {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  display: block;
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;
  outline: transparent;
}

.modal-textarea {
  padding: 11px 16px;
  height: 120px;
  resize: none;
  outline: transparent;
}

.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-form,
.modal-input:hover + .icon-form {
  fill: var(--button-select-color);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover {
  border-color: var(--button-select-color);
  cursor: pointer;
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: var(--button-select-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--button-select-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--addr-color-city);
}

.form-btn:hover,
.form-btn:focus {
  cursor: pointer;
}

.user-subsc {
  display: block;
  min-width: 570px;
}

.form-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.checked-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-licens {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--select-text-color);
}

.checked-input {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.svg-check {
  display: inline-block;
  margin-right: 7px;
  width: 18px;
  height: 18px;
  fill: var(--addr-color-city);
  background-color: var(--addr-color-city);
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-input:checked + .svg-check {
  fill: var(--addr-color-city);
  background-color: var(--button-select-color);
  border: 2px solid var(--button-select-color);
  background-color: var(--button-select-color);
  border: 2px solid var(--button-select-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-div .addr {
  display: block;
  min-width: 231px;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--second-color-logo-footer);
}

.social-list .item-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .item-link-footer:hover,
.social-list .item-link-footer:focus {
  background: var(--select-text-color);
}

.container.foot {
  display: block;
}

.list-footer {
  display: block;
}

.list-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.list-footer .addr-mail-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--addr-color-tel-mail);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-footer .addr-mail-tel:hover,
.list-footer .addr-mail-tel:focus {
  color: var(--select-text-color);
}

.list-footer .addr-city:hover,
.list-footer .addr-city:focus {
  color: var(--select-text-color);
}

.addr-city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--addr-color-city);
  background: #2f303a;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-subsc {
  display: flex;
}

.title-subsc {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input-subsc {
  margin: 0;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: var(--addr-color-city);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-subsc:hover,
.input-subsc:focus {
  border-color: var(--button-select-color);
}

.button-subsc-title {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.button-subsc-svg {
  width: 24px;
  height: 24px;
  fill: var(--addr-color-city);
}

.button-subsc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--button-select-color);
}/*# sourceMappingURL=main.css.map */